<template>
  <div id="app-content">
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#app-content {
  width: 100%;
  height: 100%;
}
</style>
