<template>
  <div id="apps-view">
    <mat-card v-for="app in apps" :key="app.id">
      <template v-slot:thumbnail>
        <img
          :src="app.thumbnail"
          :alt="app.id + ' thumbnail'"
          width="80"
          height="80"
        />
      </template>

      <template v-slot:primary>
        <div
          @click="
            $router.push(
              app.installed
                ? `/app/${app.id}?info=${JSON.stringify(app)}`
                : `/app/${app.id}/install`
            )
          "
          class="app-card-primary"
        >
          <h2
            class="mat-typography mat-typography--headline6"
            style="margin: 0"
          >
            {{ app.id }}
          </h2>

          <h3
            class="mat-typography mat-typography--subtitle2"
            style="
              margin: 0;
              color: var(
                --mat-theme-text-secondary-on-background,
                rgba(0, 0, 0, 0.54)
              );
            "
          >
            {{ app.description }}
          </h3>
        </div>
      </template>

      <template v-slot:buttons>
        <mat-button
          v-if="app.installed"
          class="mat-card__action--button"
          style="width: 100%"
        >
          Uninstall
        </mat-button>

        <mat-button
          v-else
          @click="install(app)"
          class="mat-card__action--button"
          style="width: 100%"
        >
          Install
        </mat-button>
      </template>
    </mat-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import MatCard from "@/material/MatCard.vue";
import MatButton from "@/material/MatButton.vue";
import { useApollo } from "@/graphql";
import gql from "graphql-tag";

interface App {
  id: string;
  description: string;
  installed: boolean;
  version?: string;
  path?: string;
  thumbnail: string;
}

export default defineComponent({
  components: {
    MatButton,
    MatCard,
  },
  setup() {
    const client = useApollo();

    const apps = ref<App[]>([]);

    client
      .query({
        query: gql`
          {
            apps {
              id
              description
              installed
              version
              path
              thumbnail
            }
          }
        `,
      })
      .then((resp) => (apps.value = resp.data.apps));

    const install = (app: App) => {
      const vars: { id: string; path?: string } = { id: app.id };
      if (app.path !== "") {
        vars.path = app.path;
      }

      client
        .subscribe({
          query: gql`
            subscription AppInstall($req: InstallRequest!) {
              install(req: $req) {
                ... on Failed {
                  error
                }
                ... on InProgress {
                  progress
                }
                ... on Installed {
                  path
                  time
                }
              }
            }
          `,
          variables: {
            req: vars,
          },
        })
        .subscribe((resp) => {
          if (!("path" in resp.data)) {
            return;
          }

          app.installed = true;
        });
    };

    return {
      apps,
      install,
    };
  },
});
</script>

<style lang="scss" scoped>
#apps-view {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: 10px;

  display: grid;
  grid-auto-rows: minmax(148px, auto);
  grid-auto-columns: minmax(auto, 344px);
  grid-gap: 10px;
}

.system-banner {
  width: 100%;
  height: 48px;
}

.app-card-primary {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
</style>
