<template>
  <div id="dev-view">
    <div>
      <mat-nav-drawer>
        <template v-slot:content>
          <mat-list>
            <mat-list-item
              @click="activated = 'logs'"
              :class="[activated === 'logs' ? 'mat-list-item--activated' : '']"
            >
              <span class="mat-list-item__text"> Logs </span>
            </mat-list-item>
          </mat-list>
        </template>
      </mat-nav-drawer>
    </div>

    <div id="dev-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import MatNavDrawer from "@/material/MatNavDrawer.vue";
import MatList from "@/material/MatList.vue";
import MatListItem from "@/material/MatListItem.vue";

export default defineComponent({
  components: {
    MatNavDrawer,
    MatList,
    MatListItem,
  },
  setup() {
    const activated = ref("logs");

    return {
      activated,
    };
  },
});
</script>

<style lang="scss" scoped>
#dev-view {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  display: flex;
}

#dev-content {
  flex: 1 1 auto;
}
</style>
