<template>
  <div id="downloads">
    <header class="toolbar">
      <h1 class="mat-h1">Downloads</h1>
    </header>

    <main id="download-content">
      <Downloader :arch="arch" :os="os" />
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import Downloader from "@/components/Downloader.vue";
import { detect } from "detect-browser";
import arch from "arch";

export default defineComponent({
  name: "Download",
  components: {
    Downloader,
  },
  setup() {
    const b = detect();

    return {
      arch: arch() === "x64" ? "64" : "32",
      os: b ? (b.os as string).toLowerCase() : "",
    };
  },
});
</script>

<style lang="scss" scoped>
#downloads {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#download-content {
  box-sizing: border-box;

  position: absolute;
  top: 56px;

  width: 100%;
  height: calc(100% - 56px);
  margin: auto;
}

.toolbar {
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  height: 56px;

  display: flex;
  align-items: center;

  padding: 16px;

  color: white;
  background: #673ab7;

  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
</style>
