<template>
  <div id="home">
    <div class="toolbar">
      <h1 class="mat-h1">
        {{ $route.name }}
      </h1>

      <span style="flex: 1 1 auto"></span>

      <router-link
        :to="$route.path.includes('dev') ? '/' : '/dev'"
        tag="button"
        class="link-btn"
      >
        {{ $route.path.includes("dev") ? "Apps" : "Dev" }}
      </router-link>
    </div>

    <div id="home-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import { provideApollo } from "@/graphql";
import { ApolloClient } from "apollo-client";
import { InMemoryCache } from "apollo-cache-inmemory";
import { WebSocketLink } from "apollo-link-ws";

export default defineComponent({
  props: {
    port: {
      required: true,
      type: Number,
    },
  },
  setup(props) {
    const link = new WebSocketLink({
      uri: `ws://127.0.0.1:${props.port}/graphql`,
    });

    provideApollo(
      new ApolloClient({
        link,
        cache: new InMemoryCache(),
      })
    );

    return {};
  },
});
</script>

<style lang="scss" scoped>
#home {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#home-content {
  box-sizing: border-box;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
}

.toolbar {
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  height: 56px;

  display: flex;
  align-items: center;

  padding: 16px;

  color: white;
  background: #673ab7;

  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.link-btn {
  box-sizing: border-box;

  color: inherit;

  background: transparent;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}
</style>
