<template>
  <div id="info-view">
    <div class="info-header">
      <img
        :src="info.thumbnail"
        :alt="info.id + ' thumbnail'"
        width="80"
        height="80"
      />

      <div class="info-header-primary">
        <h2 class="mat-typography mat-typography--headline6" style="margin: 0">
          {{ info.id }}
        </h2>

        <h6
          class="mat-typography mat-typography--subtitle2"
          style="
            margin: 0;
            color: var(
              --mat-theme-text-secondary-on-background,
              rgba(0, 0, 0, 0.54)
            );
          "
        >
          {{ info.version }}
        </h6>
      </div>
    </div>

    <p style="line-height: 28px">{{ info.description }}</p>
    <p style="line-height: 28px">Location: {{ info.path }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
#info-view {
  box-sizing: border-box;

  width: 75%;
  height: 100%;
  margin: auto;
}

.info-header {
  box-sizing: border-box;
  width: 100%;
  height: 96px;

  position: relative;
  display: flex;
  align-items: center;

  outline: none;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}

.info-header-primary {
  padding-left: 16px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
</style>
