<template>
  <div id="install-form">
    <select-directory v-model="path" :rootPath="root" />

    <div id="install-actions">
      <span style="flex: 1 1 auto"></span>

      <mat-button @click="$router.back()">cancel</mat-button>
      <mat-button @click="install(id, path)">install</mat-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import SelectDirectory from "@/components/SelectDirectory.vue";
import { useApollo } from "@/graphql";
import gql from "graphql-tag";

const MatButton = () => import("@/material/MatButton.vue");

export default defineComponent({
  components: {
    MatButton,
    SelectDirectory,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  setup() {
    const client = useApollo();

    const path = ref("");
    const root = ref("");

    client
      .query({
        query: gql`
          query {
            system {
              rootPath
            }
          }
        `,
      })
      .then((resp) => (root.value = resp.data.system.rootPath));

    const install = (id: string, path?: string) => {
      client
        .subscribe({
          query: gql`
            subscription AppInstall($req: InstallRequest!) {
              install(req: $req) {
                ... on Failed {
                  error
                }
                ... on InProgress {
                  progress
                }
                ... on Installed {
                  path
                  time
                }
              }
            }
          `,
          variables: {
            req: { id, path },
          },
        })
        .subscribe((resp) => {
          if (!("path" in resp.data)) {
            return;
          }

          // TODO: Mark app as installed
        });
    };

    return {
      install,
      path,
      root,
    };
  },
});
</script>

<style lang="scss" scoped>
#install-form {
  width: 33%;
  height: 100%;
  margin: auto;
}

#install-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
</style>
