<template>
  <div id="log-view">
    <div id="filters">
      <mat-select v-model="filter.level" label="Level" style="width: 100px">
        <template>
          <mat-list class="mat-select-list">
            <mat-list-item
              v-for="lvl in levels"
              :key="lvl"
              @click="filter.level = lvl"
            >
              <span class="mat-list-item__text">
                {{ lvl }}
              </span>
            </mat-list-item>
          </mat-list>
        </template>
      </mat-select>

      <mat-select
        v-model="filter.timeFormat"
        label="Time Format"
        style="width: 175px"
      >
        <template>
          <mat-list class="mat-select-list">
            <mat-list-item
              v-for="fmt in formats"
              :key="fmt"
              @click="filter.timeFormat = fmt"
            >
              <span class="mat-list-item__text">
                {{ fmt }}
              </span>
            </mat-list-item>
          </mat-list>
        </template>
      </mat-select>

      <mat-input
        :value="filter.withKey"
        @change="filter.withKey = $event.target.value"
        label="With Key"
        style="width: 150px"
      />
    </div>

    <div id="logs-container">
      <LogList :entries="pageEntries" style="max-height: calc(100% - 56px)" />

      <mat-paginator
        v-model="pageIdx"
        :length="totalEntries"
        :pageSize="10"
        :pageSizeOptions="[10]"
      />
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  ref,
  watch,
} from "@vue/composition-api";
import LogList from "@/components/LogList.vue";
import MatSelect from "@/material/MatSelect.vue";
import MatList from "@/material/MatList.vue";
import MatListItem from "@/material/MatListItem.vue";
import MatInput from "@/material/MatInput.vue";
import MatPaginator from "@/material/MatPaginator.vue";
import { useApollo } from "@/graphql";
import gql from "graphql-tag";

interface KVPair {
  key: string;
  value: string;
}

interface LogEntry {
  level: string;
  time: string;
  logger: string;
  msg: string;
  meta: KVPair[];
}

interface LogVars {
  level?: string;
  key?: string;
  format?: string;
}

export default defineComponent({
  name: "Logs",
  components: {
    MatSelect,
    MatList,
    MatListItem,
    MatInput,
    MatPaginator,
    LogList,
  },
  setup() {
    const client = useApollo();

    const levels = ["ALL", "DEBUG", "INFO", "WARN", "ERROR", "PANIC", "FATAL"];

    const formats = [
      "ANSIC",
      "UnixDate",
      "RubyDate",
      "RFC822",
      "RFC822Z",
      "RFC850",
      "RFC1123",
      "RFC1123Z",
      "RFC3339",
      "RFC3339Nano",
      "Kitchen",
    ];

    const filter = reactive({
      level: "ALL",
      withKey: "",
      timeFormat: "RFC3339",
    });
    const entries = ref<LogEntry[]>([]);
    const pageIdx = ref(0);

    const totalEntries = computed(() => entries.value.length);
    const pageEntries = computed(() => {
      if (entries.value.length == 0) return [];

      const pidx = pageIdx.value;
      return entries.value.slice(10 * pidx, 10 * (pidx + 1));
    });

    watch(
      () => [filter.level, filter.withKey, filter.timeFormat],
      async ([level, withKey, timeFormat]) => {
        const vars: LogVars = { key: withKey, format: timeFormat };
        if (level !== "ALL") vars.level = level;

        const resp = await client.query({
          query: gql`
            query Logs($level: LogLevel, $key: String, $format: TimeFormat) {
              logs(level: $level, key: $key) {
                level
                time(format: $format)
                logger
                msg
                meta {
                  key
                  value
                }
              }
            }
          `,
          variables: vars,
        });

        pageIdx.value = 0;
        entries.value = resp.data.logs;
      }
    );

    return {
      levels,
      formats,
      filter,
      pageEntries,
      totalEntries,
      pageIdx,
    };
  },
});
</script>

<style lang="scss" scoped>
#log-view {
  box-sizing: border-box;

  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 25px;
}

#filters {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logs-container {
  width: 100%;
  max-height: calc(100% - 56px);
}
</style>
