<template>
  <div id="welcome">
    <header class="welcome-header">
      <div class="header-headline">
        <h1 class="mat-h1">muku</h1>

        <h2>An app manager to rule them all.</h2>
      </div>

      <div class="header-start">
        <router-link to="/download" class="mat-button"> Download </router-link>
      </div>
    </header>

    <main class="welcome-promo"></main>
  </div>
</template>

<script lang="ts">
export default {};
</script>

<style lang="scss" scoped>
#welcome {
  width: 100%;
  height: 100%;
}

.welcome-header {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 330px;

  overflow: hidden;
  background: var(--mat-theme-primary, #673ab7);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.header-headline {
  text-align: center;
  color: white;
  padding-top: 60px;

  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
  }
}

.header-start {
  text-align: center;
  margin: 60px 0;
}

.welcome-promo {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 16px;
}

.mat-button {
  box-sizing: border-box;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  height: 36px;
  min-width: 48px;
  padding: 0 8px;

  border: none;
  outline: none;

  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: inherit;

  user-select: none;
  overflow: visible;
  vertical-align: middle;

  border-radius: 4px;

  color: var(--mat-theme-on-light-surface, #000);
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    color: rgba(var(--mat-theme-on-surface, 0, 0, 0), 0.38); // ink color var
  }
}

@media only screen and (min-width: 600px) {
  .mat-button:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.85);
  }
}
</style>
