<template>
  <div id="download-form">
    <mat-select
      v-model="version"
      label="Version"
      style="width: 75px"
      data-text="select-version"
    >
      <template>
        <mat-list class="mat-select-list" data-text="versions">
          <mat-list-item
            v-for="release in releases"
            :key="release.name"
            @click="version = release.name"
          >
            <span class="mat-list-item__text">
              {{ release.name }}
            </span>
          </mat-list-item>
        </mat-list>
      </template>
    </mat-select>

    <mat-select
      v-model="sys.arch"
      label="Arch"
      style="width: 75px"
      data-text="select-arch"
    >
      <template>
        <mat-list class="mat-select-list" data-text="archs">
          <mat-list-item @click="sys.arch = '32'">
            <span class="mat-list-item__text"> 32 </span>
          </mat-list-item>

          <mat-list-item @click="sys.arch = '64'">
            <span class="mat-list-item__text"> 64 </span>
          </mat-list-item>
        </mat-list>
      </template>
    </mat-select>

    <mat-select
      v-model="sys.os"
      label="OS"
      style="width: 100px"
      data-text="select-os"
    >
      <template>
        <mat-list class="mat-select-list" data-text="oses">
          <mat-list-item @click="sys.os = 'win'">
            <span class="mat-list-item__text"> Windows </span>
          </mat-list-item>

          <mat-list-item @click="sys.os = 'mac os'">
            <span class="mat-list-item__text"> Mac OS </span>
          </mat-list-item>

          <mat-list-item @click="sys.os = 'linux'">
            <span class="mat-list-item__text"> Linux </span>
          </mat-list-item>
        </mat-list>
      </template>
    </mat-select>

    <a
      :href="bin.link"
      :class="bin.link === '' ? ['download-disabled'] : []"
      :title="'Download muku ' + version"
      download="muku"
      data-text="download-btn"
      class="mat-button"
    >
      Download
    </a>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  ref,
  watch,
} from "@vue/composition-api";
import MatSelect from "@/material/MatSelect.vue";
import MatList from "@/material/MatList.vue";
import MatListItem from "@/material/MatListItem.vue";
import MatButton from "@/material/MatButton.vue";

interface Project {
  releases: Connection<Release<AssetLinks>>;
}

interface Connection<T> {
  edges: Edge<T>[];
}

interface Edge<T> {
  node: T;
}

interface Release<T> {
  name: string;
  assets: T;
}

interface AssetLinks {
  links: Connection<AssetLink>;
}

interface AssetLink {
  name: string;
  url: string;
}

export default defineComponent({
  components: {
    MatButton,
    MatList,
    MatListItem,
    MatSelect,
  },
  props: {
    arch: {
      type: String,
      required: true,
    },
    os: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const sys = reactive({
      os: props.os,
      arch: props.arch,
    });
    const releases = ref<Release<AssetLink[]>[]>([]);
    const version = ref("v" + process.env.VUE_APP_VERSION);

    const bin = reactive({
      name: "",
      link: "",
    });

    onMounted(() => {
      fetch("https://gitlab.com/api/graphql", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          query: `query {
          project(fullPath: "z5labs/muku") {
            releases {
              edges {
                node {
                  name
                  assets {
                    links {
                      edges {
                        node {
                          name
                          url
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }`,
        }),
      })
        .then((resp) => resp.json())
        .then((d) => d.data.project)
        .then((proj: Project) => {
          releases.value = proj.releases.edges.reduce((acc, v) => {
            const linkEdges = v.node.assets.links.edges;
            const assets = linkEdges.reduce((a, l) => {
              a.push(l.node);
              return a;
            }, [] as AssetLink[]);

            acc.push({
              name: v.node.name,
              assets: assets,
            } as Release<AssetLink[]>);
            return acc;
          }, [] as Release<AssetLink[]>[]);
        });
    });

    watch(
      () => [sys.os, sys.arch, version.value],
      async ([os, arch, ver]) => {
        const r = releases.value
          .filter((v) => v.name === ver)
          .flatMap((v) => v.assets)
          .filter(
            (v) =>
              v.name.includes(os) &&
              v.name.includes(arch === "64" ? "x86_64" : "i386")
          );

        bin.name = r[0].name;
        bin.link = r[0].url;
      }
    );

    return {
      sys,
      bin,
      releases,
      version,
    };
  },
});
</script>

<style lang="scss" scoped>
#download-form {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  height: 56px;
  margin: auto;
  padding-top: 25px;
}

#download-version {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.download-disabled {
  pointer-events: none;
  cursor: default;
}
</style>
