<template>
  <mat-data-table id="logs-table">
    <template v-slot:header>
      <tr>
        <th role="columnheader" scope="col">Level</th>
        <th role="columnheader" scope="col">Time</th>
        <th role="columnheader" scope="col">Logger</th>
        <th role="columnheader" scope="col">Message</th>
        <th role="columnheader" scope="col">Additional Keys</th>
      </tr>
    </template>

    <template v-slot:body>
      <tr v-for="(entry, idx) in entries" :key="idx">
        <td>{{ entry.level }}</td>
        <td>{{ entry.time }}</td>
        <td>{{ entry.logger }}</td>
        <td>{{ entry.msg }}</td>
        <td style="max-width: 450px">
          {{
            entry.meta.length === 0
              ? "N/A"
              : entry.meta.map((p) => `${p.key}: ${p.value}`).join(",")
          }}
        </td>
      </tr>
    </template>
  </mat-data-table>
</template>

<script lang="typescript">
import { defineComponent } from "@vue/composition-api";
import MatDataTable from "@/material/MatDataTable.vue";

export default defineComponent({
  components: {
    MatDataTable
  },
  props: {
    entries: {
      type: Array,
      required: true
    }
  },
  setup() {
    return {};
  }
});
</script>

<style lang="scss" scoped>
#logs-table {
  width: 100%;
  height: 100%;
}
</style>
