<template>
  <mat-list>
    <mat-list-item
      v-for="path in paths"
      :key="path"
      @dblclick="$emit('walk', path)"
    >
      <span class="mat-list-item__text">
        {{ path.replace(root, "") }}
      </span>
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

const MatList = () => import("@/material/MatList.vue");
const MatListItem = () => import("@/material/MatListItem.vue");

export default defineComponent({
  components: {
    MatList,
    MatListItem,
  },
  props: {
    root: String,
    paths: Array,
  },
  setup() {
    return {};
  },
});
</script>

<style lang="scss" scoped></style>
