<template>
  <div>
    <mat-input
      :value="curPath"
      @click="toggleDirViewer"
      label="Path"
      readonly
    />

    <mat-dialog v-if="displayViewer" @close="toggleDirViewer">
      <template v-slot:header>
        <h2 class="mat-dialog__title">{{ curPath }}</h2>
      </template>

      <template v-slot:content>
        <div style="max-height: 300px; overflow-y: auto">
          <path-list :root="curPath" :paths="paths" @walk="walk" />
        </div>
      </template>

      <template v-slot:actions>
        <footer class="mat-dialog__actions">
          <mat-button @click="back" class="mat-dialog__button">
            back
          </mat-button>

          <mat-button @click="selectPath" class="mat-dialog__button">
            ok
          </mat-button>
        </footer>
      </template>
    </mat-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "@vue/composition-api";
import { useApollo } from "@/graphql";
import gql from "graphql-tag";
import PathList from "@/components/PathList.vue";

const MatButton = () => import("@/material/MatButton.vue");
const MatDialog = () => import("@/material/MatDialog.vue");
const MatInput = () => import("@/material/MatInput.vue");

export default defineComponent({
  components: {
    MatButton,
    MatDialog,
    MatInput,
    PathList,
  },
  props: {
    value: String,
    rootPath: String,
  },
  setup(props, { emit }) {
    const client = useApollo();

    const displayViewer = ref(false);
    const curPath = ref(props.rootPath);
    const paths = ref<string[]>([]);
    const depth = ref(1);

    const toggleDirViewer = () => (displayViewer.value = !displayViewer.value);

    const walk = (path: string) => {
      curPath.value = path;
      depth.value = 1;
    };

    const back = () => (depth.value = -1);

    const selectPath = () => {
      toggleDirViewer();
      emit("input", curPath.value);
    };

    watch(
      () => [displayViewer.value, curPath.value, depth.value],
      async ([display, path, d], olds) => {
        if (!display || olds[2] === -1) return;

        const resp = await client.query({
          query: gql`
            query WalkDir($root: String!, $depth: Int) {
              walk(root: $root, depth: $depth)
            }
          `,
          variables: {
            root: path,
            depth: d,
          },
        });

        const root = resp.data.walk[0];
        curPath.value = root;
        paths.value = resp.data.walk.filter((p: string) => p !== root);

        if (d === -1) depth.value = 1;
      }
    );

    return {
      displayViewer,
      curPath,
      paths,
      toggleDirViewer,
      selectPath,
      walk,
      back,
    };
  },
});
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  z-index: 7;
}

.dialog-enter-active,
.dialog-leave-active {
}

.dialog-enter,
.dialog-leave-to {
}
</style>
