<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import "@/theme.scss";
@import "@/typography.scss";

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;

  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;

  background: var(--mat-theme-surface, #fafafa);
}
</style>
