:root {
  --mat-theme-primary: #673ab7;
  --mat-theme-surface: #fafafa;

  --mat-theme-on-surface: #000;
  --mat-theme-on-light-surface: #673ab7;
  --mat-theme-text-primary-on-dark: #000;
  --mat-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mat-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mat-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mat-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);

  --mat-layout-grid-margin-desktop: 24px;
  --mat-layout-grid-gutter-desktop: 24px;
  --mat-layout-grid-column-width-desktop: 72px;
  --mat-layout-grid-margin-tablet: 16px;
  --mat-layout-grid-gutter-tablet: 16px;
  --mat-layout-grid-column-width-tablet: 72px;
  --mat-layout-grid-margin-phone: 16px;
  --mat-layout-grid-gutter-phone: 16px;
  --mat-layout-grid-column-width-phone: 72px;
}
