.mat-typography {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

.mat-h1 {
  font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
}

.mat-typography--headline4 {
  font-weight: 400;
  text-decoration: inherit;
  text-transform: inherit;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: .0073529412em;
}

.mat-typography--headline5 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
}

.mat-typography--headline6 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
}

.mat-typography--headline5, .mat-typography--headline6 {
  line-height: 2rem;
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--subtitle2 {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0071428571em;
}

.mat-typography--subtitle1, .mat-typography--subtitle2 {
  text-decoration: inherit;
  text-transform: inherit;
}
