<template>
  <button v-bind="$attrs" v-on="$listeners" class="mat-button">
    <slot />

    <div class="mat-button-focus-overlay"></div>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  setup() {
    return {};
  },
});
</script>

<style lang="scss">
.mat-button {
  box-sizing: border-box;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  height: 36px;
  min-width: 48px;
  padding: 0 8px;

  border: none;
  outline: none;

  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: inherit;

  user-select: none;
  overflow: visible;
  vertical-align: middle;
  cursor: pointer;

  border-radius: 4px;

  color: var(--mat-theme-on-light-surface, #000);
  background-color: var(--mat-theme-surface, #fff);

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    cursor: default;
  }
}

.mat-button-focus-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
  border-radius: inherit;

  background: black;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),
    background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.mat-button:hover:not(:disabled) .mat-button-focus-overlay {
  opacity: 0.04;
}
</style>
