<template>
  <div class="mat-card">
    <div class="mat-card__primary">
      <slot name="thumbnail"></slot>

      <div class="mat-card__primary-header">
        <slot name="primary"></slot>
      </div>

      <div class="mat-card__primary-focus-overlay"></div>
    </div>

    <span style="height: 8px"></span>

    <div class="mat-card__actions">
      <span style="flex: 1 1 auto"></span>

      <div class="mat-card__action-buttons">
        <slot name="buttons"></slot>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.mat-card {
  box-sizing: border-box;

  max-width: 344px;
  max-height: 148px;

  position: relative;
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  background-color: var(--mat-theme-surface, #fff);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.mat-button:hover:not(:disabled) .mat-button-focus-overlay {
  opacity: 0.04;
}

.mat-card__primary {
  box-sizing: border-box;
  width: 100%;
  height: 96px;

  padding: 16px 16px 0 16px;

  position: relative;
  display: flex;

  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;

  &:hover .mat-card__primary-focus-overlay {
    opacity: 0.04;
  }
}

.mat-card__primary-focus-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
  border-radius: inherit;

  background: black;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),
    background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.mat-card__primary-header {
  padding-left: 16px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mat-card__actions {
  box-sizing: border-box;

  width: 100%;
  height: 44px;

  padding: 0 16px 8px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-card__action-buttons {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    flex-direction: row;
    cursor: pointer;
  }
}

.mat-card__action--button {
  margin-left: 0;
  margin-right: 8px;
  padding: 0 8px;
}
</style>
