<template functional>
  <transition name="mat-dialog" appear>
    <div class="mat-dialog" @click="listeners.close">
      <div class="mat-dialog__container" @click.stop>
        <div class="mat-dialog__surface" @click.stop>
          <div class="mat-dialog-container" @click.stop>
            <slot name="header"></slot>

            <div
              class="mat-dialog__content"
              id="mat-dialog-content"
              @click.stop
            >
              <slot name="content"></slot>
            </div>

            <slot name="actions"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss">
.mat-dialog {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-dialog__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  pointer-events: none;
}

.mat-dialog__surface {
  box-sizing: border-box;
  border-radius: 4px;

  max-height: calc(100% - 32px);
  width: 280px;

  background-color: var(--mat-theme-surface, #fff);

  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  pointer-events: auto;
  overflow-y: auto;
}

@media only screen and (min-width: 600px) {
  .mat-dialog__surface {
    width: auto;
    min-width: 280px;
    max-width: 560px;
  }
}

.mat-dialog__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px 9px;
  border-bottom: 1px solid transparent;

  color: rgba(0, 0, 0, 0.87);

  &:before {
    display: inline-block;
    width: 0;
    height: 40px;
    content: "";
    vertical-align: 0;
  }
}

.mat-dialog__content {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 24px;
  overflow: auto;

  color: rgba(0, 0, 0, 0.6);

  .mat-list:first-child:last-child {
    padding: 6px 0 0;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.mat-dialog__actions {
  box-sizing: border-box;
  position: relative;

  min-height: 52px;
  margin: 0;
  padding: 8px;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  border-top: 1px solid transparent;
}

.mat-dialog__button {
  margin-left: 8px;
  margin-right: 0;
  max-width: 100%;
  text-align: right;

  &:first-child,
  &:first-child[dir="rtl"],
  [dir="rtl"] &:first-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.mat-dialog-enter-active,
.mat-dialog-leave-active {
  transition: all 0.5s ease;
}

.mat-dialog-enter,
.mat-dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
</style>
