<template functional>
  <div
    class="mat-data-table"
    :class="data.staticClass"
    :style="data.staticStyle"
    v-bind="data.attrs"
  >
    <table class="mat-data-table__table">
      <thead class="mat-data-table__header-row">
        <slot name="header"></slot>
      </thead>

      <tbody class="mat-data-table__body">
        <slot name="body"></slot>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss">
.mat-data-table {
  background-color: var(--mat-theme-surface, #fafafa);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-overflow-scrolling: touch;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: auto;
}

.mat-data-table__table {
  min-width: 100%;
  white-space: nowrap;
  border: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.mat-data-table__header-row tr {
  background-color: inherit;
}

.mat-data-table__header-row th {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;

  // Header cell styles
  padding-right: 16px;
  padding-left: 16px;
  height: 56px;
  color: rgba(0, 0, 0, 0.87);
}

.mat-data-table__body {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-data-table__body tr {
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-width: 1px;
  border-top-style: solid;
  background-color: inherit;
}

.mat-data-table__body td {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;

  // Table cell styles
  padding-right: 16px;
  padding-left: 16px;
  height: 52px;
  color: rgba(0, 0, 0, 0.87);
}

.mat-data-table__cell--numeric {
  text-align: right;
}
</style>
