<template functional>
  <label
    :class="data.staticClass"
    :style="data.staticStyle"
    class="mat-input-container"
  >
    <input v-bind="data.attrs" v-on="listeners" class="mat-input" />
    <span
      :class="props.value ? ['mat-floating-label'] : []"
      class="mat-input-label"
    >
      {{ props.label }}
    </span>
  </label>
</template>

<style lang="scss">
.mat-input {
  box-sizing: border-box;

  display: block;

  width: 100%;
  height: 100%;

  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  padding-top: 4px;

  caret-color: var(--mat-theme-primary);

  background: transparent;
  border: none;
  border-bottom: 2px solid #999;
  transition: border-bottom-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-bottom-color: var(--mat-theme-primary);
  }

  &:focus + .mat-input-label {
    color: var(--mat-theme-primary);
  }

  &:focus + :not(.mat-floating-label).mat-input-label {
    transform: translate(12px, 0) scale(0.75);
  }
}

.mat-input-container {
  position: relative;

  box-sizing: border-box;

  display: inline-block;

  width: 100%;
  height: 56px;

  padding: 0 12px;
}

.mat-input-label {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;

  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;

  line-height: 1.15rem;

  pointer-events: none;

  transform-origin: top left;
  transform: translate(12px, 20px) scale(1);
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.mat-floating-label {
  transform: translate(12px, 0) scale(0.75);
}
</style>
