<template>
  <div class="mat-nav-drawer">
    <slot name="content"></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  setup() {
    return {};
  },
});
</script>

<style lang="scss">
.mat-nav-drawer {
  box-sizing: border-box;

  width: 256px;
  height: 100%;

  border-color: rgba(0, 0, 0, 0.12);
  background-color: var(--mat-theme-surface, #fff);
  border-radius: 0 0 0 0;
  border-right-width: 1px;
  border-right-style: solid;

  .mat-list-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: 0.0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    height: 40px;
    margin: 8px;
    padding: 0 8px;

    border-radius: 4px;
  }

  .mat-list-item:first-child {
    margin-top: 2px;
  }

  .mat-list-item:last-child {
    margin-bottom: 0px;
  }

  .mat-nav-drawer__subtitle {
    color: rgba(0, 0, 0, 0.6);
  }
}

.mat-nav-drawer__header {
  box-sizing: border-box;
  min-height: 56px;
  padding: 0 16px 4px;
}

.mat-nav-drawer__title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  margin-top: 0;
  line-height: normal;
  margin-bottom: -20px;

  &::before {
    display: inline-block;
    width: 0;
    height: 36px;
    content: "";
    vertical-align: 0;
  }

  &::after {
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: -20px;
  }
}

.mat-nav-drawer__subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  margin-top: 0;
  line-height: normal;
  margin-bottom: 0;

  &::before {
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: 0;
  }
}
</style>
