<template>
  <div class="mat-paginator">
    <span style="flex: 1 1 auto"></span>

    <!-- TODO: Possibly make this a select
    <span class="mat-paginator-page-size">
      Items per page: {{ pageSize }}
    </span>
    -->

    <span class="mat-paginator--page-number">
      {{ pageSize * value }} - {{ pageSize * (value + 1) }} of {{ length }}
    </span>

    <mat-icon-button :disabled="value === 0" @click="back">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="black"
        width="18px"
        height="18px"
      >
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </mat-icon-button>

    <mat-icon-button
      :disabled="pageSize * value < length && length < pageSize * (value + 1)"
      @click="next"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="black"
        width="18px"
        height="18px"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </mat-icon-button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import MatSelect from "@/material/MatSelect.vue";
import MatIconButton from "@/material/MatIconButton.vue";

export default defineComponent({
  components: {
    MatSelect,
    MatIconButton,
  },
  props: {
    value: Number,
    length: {
      type: Number,
      required: true,
    },
    pageSize: {
      type: Number,
      required: true,
    },
    pageSizeOptions: {
      type: Array,
      required: true,
    },
  },
  setup(props, { emit }) {
    const back = () => emit("input", (props.value as number) - 1);

    const next = () => emit("input", (props.value as number) + 1);

    return {
      back,
      next,
    };
  },
});
</script>

<style lang="scss" scoped>
.mat-paginator {
  box-sizing: border-box;

  height: 56px;
  padding: 0 8px;

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.54);
  background: var(--mat-theme-surface, white);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);

  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.mat-paginator--page-size {
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.54);
}

.mat-paginator--page-number {
  margin: 0 32px 0 24px;
  color: rgba(0, 0, 0, 0.54);
}
</style>
